# 环境配置
ENVIRONMENT=dev
DRIVER=~fastapi
LOCALSTORE_USE_CWD=true

# 日志配置
LOG_LEVEL=INFO

# 适配器配置
ONEBOT_ACCESS_TOKEN=

# 模型配置
LLM_GATEWAY_FAST_MODEL=deepseek/deepseek-chat
LLM_GATEWAY_QUALITY_MODEL=deepseek/deepseek-reasoner
LLM_GATEWAY_MULTIMODAL_MODEL=xiaomi_mimo/mimo-v2.5-pro
LLM_GATEWAY_EMBEDDING_MODEL=siliconflow/BAAI/bge-m3
LLM_GATEWAY_RERANKER_MODEL=

# 密钥配置
DEEPSEEK_API_KEY=
SILICONFLOW_API_KEY=
XIAOMI_MIMO_API_KEY=

# 运行配置
RUN_MODE=prod
DEVELOPER_QQ=
HEARTBEAT_INTERVAL=1.0
APP_FRAME_INTERVAL=1.0
